.my-rect {
    -fx-fill: lightslategray;

}
.my-rect2 {
    -fx-fill: coral;

}

.my-rect3 {
    -fx-fill: white;

}

.title {
     -fx-font-family: "Comic Sans MS";
     -fx-text-alignment: center;
     -fx-font-size: 100;
     -fx-fill: white;
 }

.valuez {
    -fx-font-family: "Comic Sans MS";
    -fx-text-alignment: center;
    -fx-font-size: 36;
    -fx-fill: white;
}

.timez {
    -fx-font-family: "Comic Sans MS";
    -fx-text-alignment: center;
    -fx-font-size: 24;
    -fx-fill: white;
}

.datamethod {
    -fx-font-family: "Comic Sans MS";
    -fx-text-alignment: center;
    -fx-font-size: 20;
    -fx-fill: white;
}

.button1 {
    -fx-aligntment: center;
    -fx-background-color: coral;
    -fx-border: none;
    -fx-text-fill: white;
    -fx-font-family: "Comic Sans MS";

    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
    -fx-font-size: 32px;


}

.button1:selected {
    -fx-aligntment: center;
    -fx-background-color: lightskyblue;
    -fx-border: none;
    -fx-text-fill: white;
    -fx-font-family: "Comic Sans MS";
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
    -fx-font-size: 32px;
    -fx-border-width: 5px;
    -fx-border-style: solid;
    -fx-border-color: white;

}

.highlow {
     -fx-aligntment: center;
     -fx-background-color: seagreen;
     -fx-border: none;
     -fx-text-fill: white;
     -fx-font-family: "Comic Sans MS";

     -fx-text-align: center;
     -fx-text-decoration: none;
     -fx-display: inline-block;
     -fx-font-size: 32px;


 }

.highlow:selected {
    -fx-aligntment: center;
    -fx-background-color: tomato;
    -fx-border: none;
    -fx-text-fill: white;
    -fx-font-family: "Comic Sans MS";

    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
    -fx-font-size: 32px;


}

.stockbox {
    -fx-aligntment: center;
    -fx-background-color: white;
    -fx-border: none;
    -fx-text-fill: coral;
    -fx-font-family: "Comic Sans MS";

    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
    -fx-font-size: 32px;
    -fx-border-width: 5px;
    -fx-border-style: solid;
    -fx-border-color: coral;
    -fx-background-insets: 0;

}

.button2 {
    -fx-aligntment: center;
    -fx-background-color: white;
    -fx-border: none;
    -fx-text-fill: coral;
    -fx-font-family: "Comic Sans MS";

    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
    -fx-font-size: 32px;


}

.submits {
    -fx-aligntment: center;
    -fx-background-color: coral;
    -fx-border: none;
    -fx-text-fill: white;
    -fx-font-family: "Comic Sans MS";

    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
    -fx-font-size:12px;


}