.my-rect {
    -fx-fill: lightslategray;

}
.my-rect2 {
    -fx-fill: coral;

}

.my-rect3 {
    -fx-fill: white;

}

.title {
    -fx-font-family: "Comic Sans MS";
    -fx-text-alignment: center;
    -fx-font-size: 100;
    -fx-fill: white;
}

.datamethod {
    -fx-font-family: "Comic Sans MS";
    -fx-text-alignment: center;
    -fx-font-size: 20;
    -fx-fill: white;
}

.button1 {
    -fx-aligntment: center;
    -fx-background-color: coral;
    -fx-border: none;
    -fx-text-fill: white;
    -fx-font-family: "Comic Sans MS";

    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
    -fx-font-size: 32px;

}

.button1:selected {
    -fx-aligntment: center;
    -fx-background-color: lightskyblue;
    -fx-border: none;
    -fx-text-fill: white;
    -fx-font-family: "Comic Sans MS";
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
    -fx-font-size: 32px;

}